.header-background{
    background: linear-gradient(90deg, red, orange, yellow);
}

.header-nav-text{
    text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px  1px 0 white,
            1px  1px 0 white;
    font-weight: 900;
}