{% extends 'base.html.twig' %}

{% block title %}New Dealer{% endblock %}

{% block body %}
    <h1>Create new Dealer</h1>

    {{ include('dealer/_form.html.twig') }}

    <a href="{{ path('app_dealer_index') }}">back to list</a>
{% endblock %}
